body{
  margin: 0;
  padding: 0;
}

.inputfields{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(216, 214, 214);
  margin-bottom: 30px;
  
}
.inputfields input{
  padding: 7px;
  font-size: 1.1 em;
}

.inputfields button{
  padding: 5px;
  background-color: rgb(180, 177, 177);
  
}


.searchdiv{
  margin-left: -40px;
  padding: 10px;
}

.addform{
  padding: 10px;
}

.unorderlist{
  list-style: none;
  width: 400px;
  margin: 0 auto;

}

/* table,td{
  border: 1px solid;
  
} */

td{
  padding: 10px;
  font-size: 1.1em;
}

.checkbox{
  display: flex;
  justify-content: center;
}

.checkbox input{
 scale: 1.4;

}

.icon{
  padding-left: 0px;
  display: flex;
  justify-content: center;
}

.emptymsg{
  text-align: center;
  font-size: 1.2em;
}

tr:nth-child(odd){
  background-color:#edf2f1;
}

tr:nth-child(even){
  background-color: #dbebe8;
}



@media all and (max-width:500px) {
  .inputfields{
    width: 300px;
    font-size: 1em;
  }
  .inputfields input{
    padding: 5px;
    font-size: 1 em;
    width: 100px;
  }
  .unorderlist{
    width: 250px;
  }
  td{
    font-size: 1em;
  }
  .result{
    font-size: 1.2em;
  }
}
